<!DOCTYPE html>
<html>
<head>
    <title>Sensor Data</title>
</head>
<body>
    <h1>Sensor Data</h1>
    <div id="data">Waiting for data...</div>
    <script>
        var ws = new WebSocket("ws://localhost:8000/ws");
        ws.onmessage = function(event) {
            var dataDiv = document.getElementById('data');
            var data = JSON.parse(event.data);
            var formattedData = 'sr_no: ${data.sr_no} , X: ${data.X}, Y: {data.Y}, Z: {data.Z}'
            dataDiv.innerText =event.data;
        };
    </script>
</body>
</html>